<!DOCTYPE html>
<html>
  <head>
    <title>Mapa - MaPUC</title>
    <link rel="stylesheet" href="../static/css/bibliotecas.css">
  </head>
  <body>

    <div class="celular">

  
      <div class="topo">
        <a href="telainicio.html">
          <button class="botao-voltar">←</button>
        </a>
          
        <div class="titulo">📖 Bibliotecas</div>
      </div>

      <div class="mapa">


        <div class="rua-horizontal" style="top: 120px;"></div>
        <div class="rua-horizontal" style="top: 330px;"></div>
        <div class="rua-vertical" style="left: 80px;"></div>
        <div class="rua-vertical" style="left: 180px;"></div>
        <div class="rua-vertical" style="left: 280px;"></div>


        <div class="quarteirao" style="top: 160px; left: 100px; width: 60px; height: 80px;"></div>
        <div class="quarteirao" style="top: 400px; left: 100px; width: 70px; height: 50px;"></div>


        <div class="marcador" style="top: 70px; left: 200px;">
          <div class="pino">📖</div>
          <div class="etiqueta">Biblioteca Central</div>
        </div>


        <div class="marcador" style="top: 260px; left: 230px;">
          <div class="pino">📖</div>
          <div class="etiqueta">Biblioteca CTC</div>
        </div>

      </div>


      <div class="menu">
        <div class="item-menu ativo">🗺️<br>MAPA</div>
        <div class="item-menu">📅<br>HORÁRIO</div>
      </div>

    </div>

  </body>
</html>