<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Início - MaPUC</title>
  <link rel="stylesheet" href="../static/css/telainicio.css">
</head>
<body>
  
  <div><button class="botao-perfil">Perfil</button></div>
  <div><h2>Tela de início</h2></div>
  <div><p>Se encontre pelos blocos, salas e pilotis da PUC-Rio.</p></div>
  <div><input class="caixa-texto" type="text" placeholder="Buscar sala ou prédio"></div>
  <div class="mini-mapa">
    <img src="https://www.psi.puc-rio.br/site/images/pdf/mapa.jpg" alt="Mapa">
  </div>
 
    <div><button class="botao">Biblioteca</button>
    <button class="botao">Alimentação</button></div>
  
  <div><button class="botao">Minha Grade de Aulas</button></div>

</body>
</html>