<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Início - MaPUC</title>
  <link rel="stylesheet" href="../static/css/telainicio.css">
</head>
<body>
  
  <div>
    <a href="perfil.html">
      <button class="botao-perfil">Perfil</button>
    </a>
  </div>


  <div><h2>Tela de início</h2></div>
  <div><p>Se encontre pelos blocos, salas e pilotis da PUC-Rio.</p></div>
  <div><form action="rotas.html"><input class="caixa-texto" type="text" placeholder="Buscar sala ou prédio"></form></div>
  <div class="mini-mapa">
    <img src="https://www.psi.puc-rio.br/site/images/pdf/mapa.jpg" alt="Mapa">
  </div>
 
    <div>
      <a href="telabiblioteca.html">
        <button class="botao">Biblioteca</button>
      </a>
      
      <button class="botao">Alimentação</button>
  </div>
  
  <div><button class="botao">Minha Grade de Aulas</button></div>

  <div><a href="html tela notificacoes(certo).html"><button class="botao">Avisos e Recados</button></a></div>

</body>
</html>